<div id="particles-js">
  <div class="wrapper" style="">
    <section class="text-center">
      <div class="">
        <a routerLink="/" style="color: #ffef;
          text-decoration: none;
          padding: 10px;
          border: 3px solid #ffef;
          border-radius: 24px;
          position: relative;float: right;">Back To
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </div>
      <a routerLink="/leaveMessage" class="home_about_link">Contact Me/Hire Me</a>
    </section>
    <section class="text-center">
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 text-center" style="    color: #3ce6e6;
    text-decoration: none;
    border: #ccc 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 4em;
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
    cursor: pointer;">
        Email-darshan.baranwal@gmail.com
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 text-center" style=" color: #3ce6e6; text-decoration: none; border: #ccc 1px solid; padding: 10px 15px; border-radius: 8px; line-height:
      4em; font-size: 22px; font-weight: 700; font-family: sans-serif; cursor: pointer;    top: 21px;">
        Mobile- +91 9696667319
      </div>
    </section>
    
  </div>
</div>